* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.carousel {
  width: 300px;
  height: 300px;
  border: 2px solid green;
  position: relative;
  left: 700px;
}

.slider {
  border: 1px solid #000;
  position: absolute;
  top: 0;
  right: 100%;
  transition: transform 1s;
  /* transform: translateX(100%); */
}

.parents {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  transition: transform 1s;
  /* display: none; */
  /* transform: translateX(100%); */
}

.children {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 100%;
  top: 0;
  border: 1px solid red;
  /* display: none; */
  transition: transform 1s;
  /* transform: translateX(100%); */
  /* transform: translateX(200%); */
}

.grand-children {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 100%;
  top: 0;
  border: 1px solid red;
  display: none;
  transition: transform 1s;
  /* transform: translateX(100%); */
}
