/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --vh: ;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container-cover {
  overflow: hidden;
  width: 100%;
  /* height: 100vh; */
  position: relative;
  background-color: lightblue;
}

.container-dark-cover {
  overflow: hidden;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav,
.children,
.grand-children {
  display: none;
  width: 300px;
  position: absolute;
  top: 0;
  right: 100%;
}

.parents {
  /* height: 100vh; */
  height: var(--vh);
  overflow: auto;
}

.child,
.grand-child {
  border-right: 1px solid #ccc;
  display: none;
  /* height: 100vh; */
  height: var(--vh);
  background-color: #222;
  overflow: auto;
}

/* ---------------------------------- */
.nav-searchBox::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
.nav-searchBox:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
.nav-searchBox::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.nav-searchBox:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.nav-searchBox::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.nav-searchBox::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}

.nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 14px;
  padding-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-searchBox {
  border: 2px solid #fff;
  background-color: #222;
  padding: 20px 10px;
  font-size: 16px;
  color: #fff;
}

.nav-searchIcon {
  padding: 16px;
}

.nav-items {
  background-color: #222;
}

.nav-items .nav-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px;
  display: block;
  color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.child-link,
.grand-child-link,
.go-back {
  padding: 11px 20px;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  cursor: pointer;
}

.go-back {
  border: none;
  border-right: 1px solid #ccc;
}

.go-back svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.heading {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* ----------------- */
p {
  padding: 500px 20px;
}
